$primary-color-default: #FFFFFF;
$secondary-color-default: #224E5B;
$tertiary-color-default: #A40E05;
$font-primary-default: serif;
$font-secondary-default: sans-serif;


// Resolution Sizes 
$display-2xs: 320px;
$display-xs: 376px;
$display-s: 424px;
$display-m: 768px;
$display-l: 1024px;
$display-xl: 1440px;
$display-2xl: 2560px;
$display-3xl: 4096px;

//Space Sizes
$space-2xs: 8px;
$space-xs: 16px;
$space-s: 32px;
$space-m: 64px;
$space-l: 128px;
$space-xl: 256px;
$space-2xl: 512px;
$space-3xl: 1024px;

