@import 'variables';

#blogContainer{
	width: 100vw;
	height: 100vh;
	display: flex;
    overflow: hidden;
    background: linear-gradient($secondary-color-light, $secondary-color-dark);


	h1 {
        display: flex;
        margin: 0px;
        position: absolute;
        top: 100px;
        margin-bottom: $size-l;
        font-size: $size-l;
        color: $secondary-color-default;
	}


    #gridContainer{
        width: 100vw;
        height: 70%;
        position: absolute;
        bottom: 2%;
        left: 10%;
        display: flex;
        flex-direction: row;
    }

    button {
        z-index: 50;
        border: none;
        color: white;
        background-color: rgba($secondary-color-dark, 0.6);
        width: 75px;
        height: 75px;
        border-radius: 100%;
        position: absolute;
        top: calc(50% + 100px);
        right: 0px;
        font-size: 32px;
        transform: translateX(-50px);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: $secondary-color-dark;
            cursor: pointer;
        }
    }

}
