@import 'variables';

#contentLoaderContainer{
	width: calc($size-3xl + $size-l);
	height: calc($size-2xl + $size-m);
	//border: 3px solid red;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: -$size-l;
}

	.content {
		transition: opacity 3s ease;
		 opacity: 0; /* Start with hidden content */
		 display: none; /* Initially don't display the content */
		}

		.content.visible {
		 opacity: 1;
		 display: block; /* Display the content when it's visible */
}

