@import 'variables';

#contactContainer{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	h1 {
	margin: 0;
	color: $secondary-color-default;
	font-size: $size-l;
	margin-bottom: $size-l;
	}

	p{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: $secondary-color-default;
	font-family: $font-secondary-default;
	text-align: center;
	margin: $size-s;

	}

	p:nth-child(3){
	margin-bottom: $size-m;
	}

	

}
