@import 'variables';


#imageGalleryContainer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


	.pictureRow{
	display: flex;
	flex-direction: row;
	}

}
