@import 'variables';


#mediaInfoCardContainer{
		width: 320px;
		height: $size-xl;
		border: 1px solid $secondary-color-default;
		margin: $size-2xs;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $font-secondary-default;
		transition: transform 300ms ease;

		&:hover{
		cursor: pointer;
		transform: scale(1.05);
		}

		&:before{
		content: "🖼️";
		}




	
		img{
			height: 70%;
			width: 0;
		}

		a {
			width: 100%;
			height: 30%;
			text-decoration: none;
			color: $secondary-color-default;
			text-align: center;
			margin: $size-2xs;
			

		}
}
