@import 'variables';


#mediaInfoCardContainer{
		width: 320px;
		height: $size-xl;
		//border: 1px solid $secondary-color-default;
		background-color: $primary-color-default;
		margin: $size-2xs;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $font-secondary-default;
		transition: transform 300ms ease, box-shadow 300ms ease;
		overflow: hidden;

		&:hover{
		cursor: pointer;
		transform: scale(1.15) translateX(4px) translateY(-8px);
		box-shadow: -10px 10px rgba($secondary-color-default, 0.7);
		z-index: 1000;

		}




		#imgFrame{
			height: 100%;
			width: 100%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			
			img{
				object-fit: cover;
				width: 100%;	
			}
		}
	
	#textFrame{

		display: flex;
		justify-content: center;
		align-items: center;

		a {
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: $secondary-color-default;
			text-align: center;
			margin: $size-2xs;
			

		}
	}
}
