@import 'variables';

#socialMediaContainer{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: calc($size-xs + 4px);
		width: $size-l;
		height: 100%;


	.brandIcon{
		width: $size-s;
		padding: $size-xs 2px;
		&:hover{
			cursor: pointer;
			padding: 12px 2px;	
			border-bottom: 2px solid $tertiary-color-default;
			color: $primary-color-default;
			transition: color 500ms ease;
		}
	}
	.menuDark{
		color: $secondary-color-default;

		&:hover{
		color: $tertiary-color-default;
		}
	}
	.menuLight{
		color: $secondary-color-light;
	}

}
