@import 'variables';


#subMenuContainer{

	menu {
		width: auto;
		height: auto;
		list-style: none;
		display: flex;
		font-family: $font-secondary-default;
		color: $secondary-color-default;	
		font-size: calc($size-xs - 4px);

		li {
		width: calc($size-m + 80px);
		height: $size-m;
		display: flex;
		align-items: center;
		border-bottom: 2px solid transparent;
		border-left: 2px solid transparent; 
		border-right: 2px solid transparent;
		transition: transform 100ms ease;

			&:hover {
			 font-weight: bold;
			 cursor: pointer;
			 border-bottom: 2px solid $tertiary-color-default;
			 color: $tertiary-color-default;
			}
		}
			.menuItemVerticalHover:hover {
			 border-left: 2px solid $tertiary-color-default; 
			 border-bottom: 0px solid transparent;// Customize the color and width as needed
			}
			.menuItemVerticalHover:active{
			transform: translateX(6px);
			}
	}

}
