@import 'variables';

#testimonialsContainer{

	display: flex;
	flex-direction: row;


	#quote{
		font-family: $font-secondary-default;
		color: $secondary-color-default;

		blockquote{
		margin: 0 $size-m;
		text-align: justify;
		}

		p{
		font-family: $font-primary-default;
		text-align: left; 
		margin-left: $size-m;
		font-size: $size-s;
		}
	}

	button{
		cursor: pointer;
		font-size: $size-m;
		color: $secondary-color-default;
		border: none;

		&:active{
			color: $tertiary-color-default;
		}

		
		}


		.nextButton{
		transition: transform 300ms ease;
			&:active{
			transform: translateX(8px);
			}
		}

		.previousButton{
		transition: transform 300ms ease;
			&:active{
			transform: translateX(-8px);
			}
		}
}

